<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dispensadorfirebase">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.Myapp"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_dmrcirculo"
        android:label="Notificación Disco"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DispensadorFirebase">

        <receiver android:name=".app.bootapp">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".inicio.InicioOpcionDispositivo"
            android:exported="true"
            android:label="Seleccionar Dispositivo"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".aplicaciones.supervisor.Supervisor_Flash"
            android:exported="true"
            android:label="Menu Principal"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name=".administrador.Menu"
            android:exported="true"
            android:label="Menu Principal"
            android:screenOrientation="portrait">


                      <intent-filter>
                          <action android:name="android.intent.action.MAIN" />

                          <category android:name="android.intent.category.LAUNCHER" />
                      </intent-filter>
              -->
                  </activity>

                  <activity
                      android:name=".aplicaciones.DisplayGrande"
                      android:exported="false"
                      android:screenOrientation="portrait"/>
                  <activity
                      android:name=".aplicaciones.TabletDispensador"
                      android:exported="false"
                      android:screenOrientation="landscape"/>
                  <activity
                      android:name=".inicio.InicioOpcionSectores"
                      android:exported="true"
                      android:label="Asignar Sectores"
                      android:screenOrientation="portrait"/>



                  <activity
                      android:name=".inicio.InicioOpcionLocal"
                      android:exported="true"
                      android:label="Filtrar por nombre"
                      android:screenOrientation="portrait"/>
                  <activity
                      android:name=".aplicaciones.DisplayPequeño"
                      android:exported="true"
                      android:screenOrientation="portrait"/>
                  <activity
                      android:name=".administrador.AsignarSectoress"
                      android:exported="true"
                      android:label="Asignacion de Sectores"
                      android:screenOrientation="portrait"/>
                  <activity
                      android:name=".administrador.CrearSectores"
                      android:exported="true"
                      android:label="Crear Sectores"
                      android:screenOrientation="portrait"/>
                  <activity
                      android:name=".administrador.CrearLocalDialog"
                      android:exported="true"
                      android:label="Crear Local"
                      android:screenOrientation="portrait"/>
                  <activity
                      android:name=".administrador.ListaLocales"
                      android:exported="true"
                      android:label="Lista de Locales"
                      android:screenOrientation="portrait"/>



                  <activity
                      android:name=".aplicaciones.supervisor.Supervisor_Principal"
                      android:exported="true"
                      android:label="Menu Principal"
                      android:screenOrientation="portrait">


                  </activity>

                 <service
            android:name=".aplicaciones.supervisor.MyIntentServiceSupervisor"
            android:exported="false" />


                  <activity
                      android:name=".principaltemp.notificador.FlashSupervisor"
                      android:exported="true"
                     />
                  <activity
                      android:name=".principaltemp.Menu"
                      android:exported="true"
                     />
                  <activity
                      android:name=".principaltemp.Dispensador"
                      android:exported="true"
                      >


                  </activity>

                  <activity
                      android:name=".principaltemp.Tablet"
                      android:exported="true"
                      >

                  </activity>
                  <activity
                      android:name=".principaltemp.Display"
                      android:exported="true" />
                  <activity
                      android:name=".aplicaciones.DispensadorTurno"
                      android:exported="true" />

                  <activity
                      android:name=".principaltemp.MensajeActivity"
                      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                      android:windowSoftInputMode="stateHidden|adjustResize" />
                  <activity android:name=".principaltemp.notificador.Supervisor" />
              </application>

          </manifest>