<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dispensadorfirebase">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.hardware.usb.host" />

    <application
        android:name=".app.Myapp"
        android:allowBackup="true"
        android:icon="@mipmap/logotipo"
        android:label="Notificación Disco"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DispensadorFirebase">
        <activity
            android:name=".inicio.InicioOpcionSectores"
            android:label="Asignar Sectores"
            android:exported="true" />
        <activity
            android:name=".inicio.InicioOpcionDispositivo"
            android:label="Seleccionar Dispositivo"
            android:exported="true" >
        </activity>

        <activity
            android:name=".inicio.InicioOpcionLocal"
            android:label="Seleccionar Local"
            android:exported="true" />

        <activity
            android:name=".aplicaciones.DisplayPequeño"
            android:exported="true" />

        <activity
            android:name=".administrador.AsignarSectoress"
            android:label="Asignacion de Sectores"
            android:exported="true" />
        <activity
            android:name=".administrador.CrearSectores"
            android:label="Crear Sectores"
            android:exported="true" />
        <activity
            android:name=".administrador.CrearLocalDialog"
            android:label="Crear Local"
            android:exported="true" />
        <activity
            android:name=".administrador.ListaLocales"
            android:label="Lista de Locales"
            android:exported="true" />
        <activity
            android:name=".administrador.Menu"
            android:label="Menu Principal"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <service
            android:name=".principaltemp.notificador.MyIntentService"
            android:exported="false" />

        <activity
            android:name=".principaltemp.notificador.FlashSupervisor"
            android:exported="true" />
        <activity
            android:name=".principaltemp.Menu"
            android:exported="true" />
        <activity
            android:name=".principaltemp.Dispensador"
            android:exported="true" />
        <activity
            android:name=".principaltemp.Tablet"
            android:exported="true" />
        <activity
            android:name=".principaltemp.Display"
            android:exported="true" />
        <activity
            android:name=".aplicaciones.DispensadorTurno"
            android:exported="true" />
        <activity
            android:name=".principaltemp.MensajeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".principaltemp.notificador.Supervisor" />
    </application>

</manifest>